<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>
      {% if is_login %}Login
      {% elif is_home %}{{ site.author }}
      {% elif is_tag %}{{ tag }}
      {% elif post %}{{ post.title }}
      {% endif %}
      | {{ site.name }}
    </title>

    {{ header_meta }}

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{{ assets('css/style.css') }}">

    <!-- standard google analytics -->
    {% if site.analytics %}
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://ssl.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% endif %}

    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#F7F7F7; border: 1px solid #EEE; border-radius: 3px; margin-top: 3em; clear:left; font-family: 'Roboto', helvetica, arial, sans-serif; font-weight: 300; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
         #mc_embed_signup h2 {margin: 0; }
         #mc_embed_signup .asterisk {margin-top: 10px;}
         #mc_embed_signup .mc-field-group input {
font-weight: 300;
font-family: 'Roboto', helvetica, arial, sans-serif;
font-weight:bold;
}
#mc_embed_signup div.mce_inline_error {
background-color: #f76f4f;
font-weight: 400;
font-family: 'Roboto', helvetica, arial, sans-serif;
}
#mc_embed_signup input.mce_inline_error {
border-color: #f76f4f;
}
    </style>

  </head>
  <body{% if is_post or is_tag or is_page %} class="short-header"{% endif %}>

    {% if is_login %}

    {{ login_form }}

    {% else %}
    <header{% if is_post %} class="short"{% endif %}>
      <div class="bg"></div>
      <div class="spinner"></div>
      <div class="shadow top"></div>
      <div class="overlay"></div>
      <img src="{{ assets('images/rainbow-bg.png') }}" class="rainbow" />
      <div class="container wide">
        <h1><a href="{{ site.base_url }}">{{ site.name }}</a></h1>
        {% if pages %}
        <ul class="cover-nav">
          <!-- <li><a href="{{ site.base_url }}">ALL</a></li> -->
          <li><a href="/tag/web" class="{{ set_active('/tag/web') }}">WEB</a></li>
          <li><a href="/tag/android" class="{{ set_active('/tag/android') }}">ANDROID</a></li>
          <li><a href="/tag/project" class="{{ set_active('/tag/project') }}">PROJECT</a></li>
          <li><a href="/tag/life" class="{{ set_active('/tag/life') }}">LIFE</a></li>
          <li><a href="/tag/travel" class="{{ set_active('/tag/travel') }}">TRAVEL</a></li>
            {% for page in pages %}
            <li><a href="{{ page.permalink }}" class="{{ set_active(page.permalink) }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>
    </header>

    <div class="container content">

      <div class="bio">
        <a class="user-avatar">
          <img src="{{ site.avatar }}" />
        </a>
        <div class="user-avatar-hover">
          <h3>{{ site.author }}</h3>
          <p>{{ site.bio|striptags|truncate(280, false, '...') }}</p>
          <ul class="user-social-links">
            {% if site.twitter %}
            <li>
              <a href="{{ site.twitter }}" title="Twitter" target="_blank">
                <img src="https://cdn2.iconfinder.com/data/icons/social-aquiocons/128/Aquicon-Twitter.png" class="icon-twitter"></img>
              </a>
            </li>
            {% endif %}

            {% if site.facebook %}
            <li>
              <a href="{{ site.facebook }}" title="Facebook" target="_blank">
                <!-- <i class="icon-facebook-sign"></i> Facebook -->
                <img src="https://cdn2.iconfinder.com/data/icons/social-aquiocons/128/Aquicon-Facebook.png" class="icon-facebook-sign"></img>
                 </a>
            </li>
            {% endif %}

            {% if site.googleplus %}
            <li>
              <a href="{{ site.googleplus }}?rel=author" title="Google+" target="_blank">
                <img src="https://cdn2.iconfinder.com/data/icons/social-aquiocons/128/Aquicon-GooglePlus.png" class="icon-google-plus"></img>
              </a>
            </li>
            {% endif %}

            {% if site.linkedin %}
            <li>
              <a href="{{ site.linkedin }}" title="LinkedIn" target="_blank">
                <img src="https://cdn2.iconfinder.com/data/icons/social-aquiocons/128/Aquicon-Linkedin.png" class="icon-linkedin"></i>
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{{ site.atom_url }}" title="RSS" target="_blank">
                <img src="https://cdn2.iconfinder.com/data/icons/social-aquiocons/128/Aquicon-RSS.png" class="icon-rss"></img>
              </a>
            </li>
          </ul>
          <ul>
            {% if theme.social.like %}<li>{{ theme.social.like }}</li>{% endif %}
            {% if theme.social.follow %}<li>{{ theme.social.follow }}</li>{% endif %}
            {% if theme.social.share %}<li>{{ theme.social.share }}</li>{% endif %}
          </ul>
          <div class="arrow"></div>
        </div>
      </div>

      <div class="post">

      {% if is_home or is_tag %}

        {% if is_tag %}
        <h3 class="tag-header">Showing all posts tagged "{{ tag|format_tag(False, True) }}"</h3>
        {% endif %}

        {% if posts %}
        <div class="posts">
          {% for post in posts %}
          <div class="item">
              <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
              <div class="post-content" data-type-cleanup="true">
                {{ post.content }}
              </div>
              <ul class="post-tags">
              {% for tag in post.tags %}
                <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
              {% endfor %}
              </ul>
              <a class="post-author" href="{{ site.base_url }}">
                {% if post.author %}
                <img src="{{ post.author.avatar }}" />
                {% endif %}
                <p>
                  {% if post.author %}
                  <span class="post-author-name">{{ post.author.name }}</span>
                  {% endif %}
                  <span class="post-date"> Posted on {{ post.created_at.strftime('%b %d, %Y') }}, updated on {{ post.updated_at.strftime('%b %d, %Y') }}</span>
                </p>
              </a>
              <div class="dots"><span></span><span></span><span></span></div>
          </div>
          {% endfor %}
        </div>

        {% if not is_tag %}
        {% if pagination.next or pagination.prev %}
        <div class="pagination">
          {% if pagination.prev %}<a href="{{ pagination.prev }}" class="prev">&laquo; Previous</a>{% endif %}
          {% if pagination.next %}<a href="{{ pagination.next }}" class="next">Next &raquo;</a>{% endif %}
        </div>
        {% endif %}
        {% endif %}

        {% endif %}

      {% elif post %}

        <div class="post-content">
          <h1>{{ post.title }}</h1>
          <div data-type-cleanup="true">
            {{ post.content }}
            {% if post.type == 'link' or post.type == 'webclip' %}
            <p class="link-url"><img src="https://cdn2.iconfinder.com/data/icons/social-aquicons/128/Ask.fm.png" class="icon-share"></img> <a href="{{ link.url }}">{{ link.url }}</a></p>
            {% endif %}
          </div>
        </div>
        {% if post.tags %}
        <ul class="post-tags">
        {% for tag in post.tags %}
          <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>

        {% endif %}
        <div class="post-footer">
          <a class="post-author" href="{{ site.base_url }}">
            {% if post.author %}
            <img src="{{ post.author.avatar }}" />
            {% endif %}
            <p>
              {% if post.author %}
              <span class="post-author-name">{{ post.author.name }}</span>
              {% endif %}
              <span class="post-date"> Posted on {{ post.created_at.strftime('%b %d, %Y') }}, updated on {{ post.updated_at.strftime('%b %d, %Y')}}</span>
            </p>
          </a>
          <ul class="post-options">
            <li>{{ theme.social.share }}</li>
            <li>{{ theme.social.follow }}</li>
            <li>{{ theme.social.like }}</li>
          </ul>
        </div>

        <div class="pagination">
          <a href="javascript:history.go(-1);" class="prev">&laquo; Back To List</a>
        </div>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//postach.us9.list-manage.com/subscribe/post?u=eeac8e94ddf09c4913a7192bf&amp;id=a687f57766" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>INTERESTED IN MY NEW POSTS ?</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address
</label>
<span class="asterisk">*</span>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">

</div>
<div class="mc-field-group">
	<label for="mce-NNAME">Nick Name </label>
	<input type="text" value="" name="NNAME" class="" id="mce-NNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_eeac8e94ddf09c4913a7192bf_a687f57766" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='{{ assets('js/mc-validate.js') }}'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='NNAME';ftypes[2]='text'; }(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

        {% if site.disqus %}
        <div id="disqus_thread" class="post-comments"></div>
        <script type="text/javascript">
          var disqus_shortname = '{{ site.disqus }}';
          var disqus_url = '{{site.base_url}}{{ post.permalink }}';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>
          Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}

      {% elif post.type == 'page' %}

        <h1>{{ page.title }}</h1>
        <div class="post-content" data-type-cleanup="true">
          {{ page.content }}
        </div>
        <div class="pagination">
          <a href="javascript:history.go(-1)" class="prev">&laquo; Back To List</a>
        </div>

      {% endif %}

      </div><!-- end post -->

    </div>

    <div class="container wide">
      <footer>
        <div class="left">
          <p class="copy">All Rights Reserved &copy; 2014 {{ site.name }}. Powered by <a href="http://postach.io/">Postach.io</a></p>
        </div>
        <div class="right">
          <!-- <p><a href="http://postach.io" target="_blank"><i class="po-nut-outline">&nbsp;</i></a></p> -->
          <p><a href="#">Back to top</a></p>
          <p><a href="{{ site.base_url }}">Home</a></p>
          {% for page in pages %}
          <li><a href="{{ page.permalink }}" class="{{ set_active(page.permalink) }}">About</a></li>
          {% endfor %}
        </div>
      </footer>
    </div>

    {% endif %}

    {{ footer_meta }}

    <!-- js -->
    <script type="text/javascript">
      var cover = {% if site.cover_photo %}'{{ site.cover_photo }}'{% else %}"{{ assets('images/cover-photo-1.jpg') }}"{% endif %};
      (function(d, t) {
          var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
          g.src = "{{ assets('js/expanse.min.js') }}";
          s.parentNode.insertBefore(g, s);
      }(document, 'script'));
    </script>

  </body>
</html>
